.stories_container{
  .stories{
    height: 120px; 
    display: flex;
    align-items: center;
    overflow-x: scroll;
    background: white;
    border-radius: 0;
    border: 1px solid rgb(219, 219, 219);
    padding: 0 10px;
    @media screen and (min-width: 768px) {
      border-radius: 10px;
      margin-top: 50px;
      width: 450px; 
    }
    &::-webkit-scrollbar{
      display: none;
    }
    input{
      display: none;
    }

    .users{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 10px;
      cursor: pointer;
      z-index: 0;
      .avatar{
        position: relative;
        &::before {
          content: '';
          display: block;
          border-radius: 50px;
          width: 58px;
          height: 58px;
          position: absolute;
          left: -8%;
          top: -7%;
          background: url('https://i.pinimg.com/originals/7d/35/3a/7d353a870b735c48fcf21c023b86c28f.png') center / cover;
        }
        img{
          width: 50px;
          height: 50px;
          object-fit: cover;
          object-position: center;
          position: relative;
          border-radius: 50px;
        }
      }
      p{
        margin: 0;
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
}